@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía para la página web (excepto banner logo) */
body {
  font-family: "Montserrat", sans-serif;
}

/* Imagen divisoria nav bar y titulo */
@media only screen and (max-width: 520px) {
  .contenedor-img-vasos {
    width: 100%;
  }
  .contenedor-img-vasos img {
    width: 100%;
    object-fit: fill;
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .contenedor-img-vasos img {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1024px) {
  .contenedor-img-vasos {
    width: 100%;
  }
  .contenedor-img-vasos img {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 520px) {
  footer {
    list-style: none;
    background-color: black;
    color: white;
    margin-top: 60px;
    padding: 15px;
  }
  footer ul {
    text-align: center;
  }
  .footer-index {
    margin-bottom: 3%;
  }
  .lista-footer {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    margin-top: 0, 5%;
    padding: 1%;
    font-size: 14px;
  }
  .items-footer {
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 13px;
  }
  .footer-index a {
    text-decoration: none;
    color: goldenrod;
  }
  .texto-final-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .texto-final-footer h6 {
    padding: 5px;
    font-size: 9px;
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .lista-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 0, 5%;
    padding: 1%;
  }
  footer {
    list-style: none;
    background-color: black;
    color: white;
    margin-top: 60px;
    padding: 15px;
  }
  footer ul {
    text-align: center;
  }
  .items-footer {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .footer-index {
    margin-bottom: 3%;
  }
  .footer-index a {
    text-decoration: none;
    color: goldenrod;
  }
  .texto-final-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .texto-final-footer h6 {
    padding: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .lista-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 0, 5%;
    padding: 1%;
  }
  footer {
    list-style: none;
    background-color: black;
    color: white;
    margin-top: 60px;
    padding: 15px;
  }
  footer ul {
    text-align: center;
  }
  .items-footer {
    list-style: none;
  }
  .footer-index {
    margin-bottom: 3%;
  }
  .footer-index a {
    text-decoration: none;
    color: goldenrod;
  }
  .texto-final-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: cener;
  }
  .texto-final-footer h6 {
    padding: 5px;
  }
}
@media only screen and (max-width: 520px) {
  .container-titulos {
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo-web.jpg);
    background-position: center;
    background-size: cover;
    padding: 15px;
    align-items: center;
  }
  .titulo-header {
    font-family: "Permanent Marker", cursive;
    color: white;
    font-size: 4rem;
  }
  .subtitulo-header {
    font-family: "Permanent Marker", cursive;
    margin-top: 2vw;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .container-titulos {
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo-web.jpg);
    background-position: center;
    background-size: cover;
    padding: 15px;
    align-items: center;
  }
  .titulo-header {
    font-family: "Permanent Marker", cursive;
    color: white;
    font-size: 4rem;
  }
  .subtitulo-header {
    font-family: "Permanent Marker", cursive;
    margin-top: 2vw;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .container-titulos {
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo-web.jpg);
    background-position: center;
    background-size: cover;
    padding: 15px;
    align-items: center;
  }
  .titulo-header {
    font-family: "Permanent Marker", cursive;
    color: white;
    font-size: 4rem;
  }
  .subtitulo-header {
    font-family: "Permanent Marker", cursive;
    margin-top: 2vw;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}
.nav-link {
  color: goldenrod;
}

.navbar {
  color: black;
  background-color: black;
}

.nav-link:hover {
  color: white;
}

.navbar-toggler-icon {
  background-color: goldenrod;
}

.caja-barra {
  border: 1px solid white;
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja-barra a {
  text-decoration: none;
  color: #eeba0b;
}

.imagen-fabrica {
  margin: auto;
  height: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  text-align: center;
}

label {
  margin-bottom: 15px;
  display: block;
}

@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .nav-link {
    color: goldenrod;
    transition: transform 0.1s;
  }
  .navbar {
    color: black;
    background-color: black;
  }
  .nav-link:hover {
    color: white;
    transform: scale(1.2);
  }
  .navbar-toggler-icon {
    background-color: goldenrod;
  }
  .caja-barra {
    border: 1px solid white;
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caja-barra a {
    text-decoration: none;
    color: #eeba0b;
  }
  .imagen-fabrica {
    margin: auto;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav {
    text-align: center;
  }
  label {
    margin-bottom: 15px;
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-link {
    color: goldenrod;
    transition: transform 0.1s;
  }
  .navbar {
    color: black;
    background-color: black;
  }
  .nav-link:hover {
    color: white;
    transform: scale(1.2);
  }
  .navbar-toggler-icon {
    background-color: goldenrod;
  }
  .caja-barra {
    border: 1px solid white;
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .caja-barra a {
    text-decoration: none;
    color: #eeba0b;
  }
  .imagen-fabrica {
    margin: auto;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav {
    text-align: center;
  }
  label {
    margin-bottom: 15px;
    display: block;
  }
}
@media only screen and (max-width: 520px) {
  .section-inicio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .section-inicio article {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .input-container {
    margin: 10px;
    padding: 10px;
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .section-inicio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
  }
  .section-inicio article {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .input-container {
    margin: 10px;
    padding: 10px;
  }
  .titulo-intro {
    padding-top: 3%;
    padding-bottom: 8%;
    font-size: 30px;
    text-align: center;
    color: black;
  }
  .titulos-cervezas {
    font-size: 18px;
    font-weight: bolder;
  }
  .parrafo-cervezas {
    margin: 20px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .section-inicio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
  }
  .section-inicio article {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .input-container {
    margin: 10px;
    padding: 10px;
  }
  .titulo-intro {
    padding-top: 50px;
    padding-bottom: 120px;
    font-size: 37px;
    text-align: center;
    color: black;
    font-weight: bolder;
  }
  .titulos-cervezas {
    font-size: 25px;
    font-weight: bolder;
  }
  .parrafo-cervezas {
    margin: 20px;
    padding: 20px;
  }
  .caja-cerveza {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px goldenrod;
    border-radius: 1900px;
    padding: 30px;
    overflow: hidden;
    transition: transform 0.1s;
    font-size: 1rem;
  }
  .caja-cerveza:hover {
    transform: scale(1.02);
  }
  .caja-cerveza-contenedor {
    display: flex;
    justify-content: column;
    justify-items: center;
    align-items: center;
    width: 70%;
    gap: 60px;
  }
  .caja-cerveza-imagen img {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 520px) {
  .titulo-nosotros {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .subtitulo-laempresa {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .descripcion-empresa {
    margin-top: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .caja-imagen-nosotros,
  .caja-imagen-trayectoria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .articulo-empresa,
  .articulo-trayectoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .articulo-empresa img,
  .articulo-trayectoria img {
    width: 100%;
  }
  .articulo-empresa img p,
  .articulo-trayectoria img p {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
  }
  .articulo-empresa .imagen-laempresa,
  .articulo-empresa .imagen-trayectoria,
  .articulo-trayectoria .imagen-laempresa,
  .articulo-trayectoria .imagen-trayectoria {
    transition: transform 0.5s, scale 0.5s;
  }
  .articulo-empresa .imagen-laempresa:hover,
  .articulo-empresa .imagen-trayectoria:hover,
  .articulo-trayectoria .imagen-laempresa:hover,
  .articulo-trayectoria .imagen-trayectoria:hover {
    transform: rotate(360deg) scale(1.2);
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .titulo-nosotros {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
  }
  .subtitulo-laempresa {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1, 5rem;
  }
  .descripcion-empresa {
    margin-top: 30px;
    text-align: center;
    padding-left: 135px;
    padding-right: 135px;
  }
  .caja-imagen-laempresa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .caja-imagen-trayectoria {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1024px) {
  .titulo-nosotros {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .subtitulo-laempresa {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 30px;
    font-size: 1, 5rem;
    font-weight: bold;
  }
  .descripcion-empresa {
    margin-top: 30px;
    text-align: center;
    padding: 30px;
  }
}
.articulo-empresa,
.articulo-trayectoria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-left: 90px;
}
.articulo-empresa img,
.articulo-trayectoria img {
  width: 50vw;
}
.articulo-empresa img p,
.articulo-trayectoria img p {
  width: 50vw;
  height: 50vw;
  font-size: 5rem;
}
.articulo-empresa .imagen-laempresa,
.articulo-empresa .imagen-trayectoria,
.articulo-trayectoria .imagen-laempresa,
.articulo-trayectoria .imagen-trayectoria {
  transition: transform 0.5s, scale 0.5s;
}
.articulo-empresa .imagen-laempresa:hover,
.articulo-empresa .imagen-trayectoria:hover,
.articulo-trayectoria .imagen-laempresa:hover,
.articulo-trayectoria .imagen-trayectoria:hover {
  transform: rotate(360deg) scale(1.2);
}

@media only screen and (min-width: 1024px) {
  .titulo-nuestros-productos {
    text-align: center;
  }
  .subtitulo-nuestras-cervezas {
    text-align: center;
  }
  .introduccion-productos {
    display: grid;
    grid-template-columns: 2fr;
    gap: 20px;
    text-align: center;
  }
  .introduccion-productos img {
    width: 100%;
    height: auto;
  }
  .articulo-productos-cervezas {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  .contenedor_productos-cervezas {
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 10px;
  }
  .titulo-american-ipa,
  .titulo-apa,
  .titulo-stout,
  .titulo-golden,
  .titulo-honey,
  .titulo-redlager,
  .titulo-neipa {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
  }
  .articulo-productos-cervezas p {
    margin: 10px 0;
  }
  .titulo-nuestros-productos {
    text-align: center;
  }
  .subtitulo-nuestras-cervezas {
    text-align: center;
  }
  .introduccion-productos {
    display: grid;
    grid-template-columns: 2fr;
    gap: 20px;
    text-align: center;
  }
  .introduccion-productos img {
    width: 100%;
    height: auto;
  }
  .articulo-productos-cervezas {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  .contenedor_productos-cervezas {
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 10px;
  }
  .titulo-american-ipa,
  .titulo-apa,
  .titulo-stout,
  .titulo-golden,
  .titulo-honey,
  .titulo-redlager,
  .titulo-neipa {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
  }
  .articulo-productos-cervezas p {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 520px) {
  .contenedor-img-vasos {
    width: 100%;
  }
  .contenedor_titulo-servicios {
    text-align: center;
    margin: 20px 0;
  }
  .contenedor-introduccion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    margin: 20px 0;
  }
  .introduccion-servicios img {
    width: 100%;
    height: auto;
  }
  .lista-footer li {
    list-style: none;
  }
  .contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
    margin: 20px 0;
  }
  .tarjeta-servicio {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  .tarjeta-servicio:hover {
    transform: scale(1.05);
  }
  .contenedor-titulo-tarjeta {
    background-color: #f8f8f8;
    padding: 10px;
  }
  .titulo-servicios {
    text-align: center;
  }
  .titulo-servicios {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .titulo-tarjeta {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
  }
  .parrafo-introduccion {
    font-size: 0.8rem;
    padding: 30px;
  }
  .parrafo-tarjeta {
    margin: 10px;
  }
}
.contenedor-img-vasos {
  text-align: center;
}

.contenedor_titulo-servicios {
  text-align: center;
  margin: 20px 0;
}

.contenedor-introduccion {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  margin: 20px 0;
}

.introduccion-servicios img {
  width: 100%;
  height: auto;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  text-align: center;
  padding: 10px;
  margin: 20px 0;
}
.contenedor-tarjetas img {
  width: 100%;
  margin-top: 20px;
}

.tarjeta-servicio {
  font-size: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.tarjeta-servicio:hover {
  transform: scale(1.05);
}

.contenedor-titulo-tarjeta {
  background-color: #f8f8f8;
  padding: 10px;
}

.titulo-servicios {
  text-align: center;
}

@media only screen and (max-width: 520px) {
  .contactos-empresa {
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    background-color: black;
    padding: 3px;
  }
  .contactos-empresa h4 {
    font-size: 1rem;
    font-weight: bold;
    color: goldenrod;
  }
  /* Mapa */
  .mapa-google {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  iframe {
    width: 100%;
    height: 300px;
    border: none;
  }
  /* Tìtulo y Subtìtulo*/
  .titulo-contacto {
    text-align: center;
    margin-top: 30px;
    font-size: 1, 5rem;
    font-weight: bold;
  }
  .subtitulo-contacto {
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
  }
  .contenedor-titulos-contacto {
    display: flex;
    flex-direction: column;
  }
  .input-container {
    margin-top: 30px;
  }
  .contenedor-img-vasos {
    width: 100%;
    height: 80px;
  }
  .contenedor-img-vasos img {
    width: 100%;
    height: 100%;
  }
  .caja-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .label-formulario {
    font-size: 0.7rem;
    font-weight: bold;
  }
  .input-formulario::placeholder {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 100px;
  }
  footer li {
    list-style: none;
  }
  .contenedor-contactos {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
  }
  .contacto-telefono,
  .contacto-correo-empresa {
    font-size: 0.8rem;
    font-weight: bold;
  }
  footer {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 521px) and (max-width: 1023px) {
  .contenedor-formulario-mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .seccion-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Mapa */
  .mapa-google {
    display: flex;
    justify-content: end;
    height: 400px;
    width: 300px;
    margin-top: 50px;
  }
  .mapa-google iframe {
    width: 100%;
  }
  /* Tìtulo y Subtìtulo*/
  .titulo-contacto {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .subtitulo-contacto {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
  }
  .input-container {
    margin-top: 30px;
    display: flex;
    width: 80%;
    height: 60%;
    align-items: center;
    flex-direction: column;
  }
  #mensaje-usuario.input-formulario-texto {
    width: 300px;
    height: 300px;
  }
  .label-formulario {
    font-size: 0.8rem;
    font-weight: bold;
  }
  footer li {
    list-style: none;
  }
  .texto-final-footer h6 {
    font-size: 0.7rem;
  }
  .lista-footer a {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .contenedor-formulario-mapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .imagen-maltaylupulo img {
    max-width: 100%;
    height: auto;
  }
  .titulo-contacto {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0;
  }
  .subtitulo-contacto {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .seccion-formulario {
    width: 100%;
    max-width: 500px;
  }
  .input-container {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
  }
  button:hover {
    background-color: #45a049;
  }
  .mapa-google {
    margin-top: 20px;
  }
  iframe {
    width: 100%;
    height: 300px;
    border: none;
  }
  /* Mapa */
  .mapa-google {
    width: 700px;
    height: 700px;
  }
  /* Tìtulo y Subtìtulo*/
  .titulo-contacto {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
  }
  .subtitulo-contacto {
    text-align: center;
    margin-top: 15px;
  }
  .mapa-contacto {
    display: flex;
    justify-content: column;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }
  .contacto-telefono h4 {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
