/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía para la página web (excepto banner logo) */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Imagen divisoria nav bar y titulo */
@media only screen and (max-width: 520px) {

    .contenedor-img-vasos {
        width: 100%;
    }

    .contenedor-img-vasos img {
        width: 100%;
        object-fit: fill;
    }
}

@media only screen and (min-width:521px) and (max-width:1023px) {

    .contenedor-img-vasos img {
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width:1024px) {

    .contenedor-img-vasos {
        width: 100%;
    }

    .contenedor-img-vasos img {
        width: 100%;
        object-fit:cover;
    }
}
