$color-destacado: goldenrod;
$color-clasico: white;
$letra-negrita: bold;
$color-tarjeta-cerveza: #cfcaca;

@import "./base";

@import "./components/footer";
@import "./components/header";
@import "./components/nav";

@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/nuestrosproductos";
@import "./pages/nuestrosservicios";
@import "./pages/contacto";