@media only screen and (max-width: 520px) {
    footer {
        list-style: none;
        background-color: black;
        color: $color-clasico;
        margin-top: 60px;
        padding: 15px;

        ul {
            text-align: center;
        }
    }

    .footer-index {
        margin-bottom: 3%;
    }

    .lista-footer {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        margin-top: 0, 5%;
        padding: 1%;
        font-size: 14px
    }

    .items-footer {
        display: inline-block;
        text-align: center;
        list-style: none;
        font-size: 13px;
    }

    a {
        text-decoration: none;
        color: $color-destacado;
    }

    .texto-final-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h6 {
            padding: 5px;
            font-size: 9px;
        }
    }
}

@media only screen and (min-width:521px) and (max-width:1023px) {
    footer {
        list-style: none;
        background-color: black;
        color: $color-clasico;
        margin-top: 60px;
        padding: 15px;

        ul {
            text-align: center
        }
    }

    .footer-index {
        margin-bottom: 3%;
    }

    .lista-footer {
        display: flex;
        justify-content: space-around;
        margin-top: 0, 5%;
        padding: 1%;
    }

    .items-footer {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: $color-destacado;
    }
}

.texto-final-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h6 {
        padding: 5px;
    }
}


@media only screen and (min-width:1024px) {
    footer {
        list-style: none;
        background-color: black;
        color: $color-clasico;
        margin-top: 60px;
        padding: 15px;

        ul {
            text-align: center;
        }

        
        .lista-footer {
            display: flex;
            justify-content: space-around;
            margin-top: 0, 5%;
            padding: 1%;
        }
        
        .items-footer {
            list-style: none;
        }
        
        a {
            text-decoration: none;
            color: $color-destacado;
        }
        
    }
    .texto-final-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }

    .texto-final-footer h6 {
        padding: 5px;
    }
}