@media only screen and (max-width: 520px) {
    .container-titulos {
        display: flex;
        flex-direction: column;
        background-image: url(../img/fondo-web.jpg);
        background-position: center;
        background-size: cover;
        padding: 15px;
        align-items: center;
    }

    .titulo-header {
        font-family: 'Permanent Marker', cursive;
        color: $color-clasico;
        font-size: 4rem;
    }

    .subtitulo-header {
        font-family: 'Permanent Marker', cursive;
        margin-top: 2vw;
        color: $color-clasico;
        font-size: 2em;
        font-weight: $letra-negrita;
        text-align: center;
    }

    
}

@media only screen and (min-width:521px) and (max-width:1023px) {
    .container-titulos {
        display: flex;
        flex-direction: column;
        background-image: url(../img/fondo-web.jpg);
        background-position: center;
        background-size: cover;
        padding: 15px;
        align-items: center;
    }

    .titulo-header {
        font-family: 'Permanent Marker', cursive;
        color: $color-clasico;
        font-size: 4rem;
    }

    .subtitulo-header {
        font-family: 'Permanent Marker', cursive;
        margin-top: 2vw;
        color: $color-clasico;
        font-size: 2em;
        font-weight: $letra-negrita;
        text-align: center;
    }
}

@media only screen and (min-width:1024px) {
    .container-titulos {
        display: flex;
        flex-direction: column;
        background-image: url(../img/fondo-web.jpg);
        background-position: center;
        background-size: cover;
        padding: 15px;
        align-items: center;
    }

    .titulo-header {
        font-family: 'Permanent Marker', cursive;
        color: $color-clasico;
        font-size: 4rem;
    }

    .subtitulo-header {
        font-family: 'Permanent Marker', cursive;
        margin-top: 2vw;
        color: $color-clasico;
        font-size: 2em;
        font-weight: $letra-negrita;
        text-align: center;
    }
}