@media only screen and (max-width: 520px) {
    nav {
        text-align: center;
    }

    .navbar {
        color: black;
        background-color: black;
    }

    .navbar-toggler-icon {
        background-color: $color-destacado;
    }

    .nav-link {
        color: $color-destacado;
    }


    .nav-link:hover {
        color: $color-clasico;
    }

}

@media only screen and (min-width:521px) and (max-width:1023px) {
    nav {
        text-align: center;
    }
    
    .navbar {
        color: black;
        background-color: black;
    }

    .navbar-toggler-icon {
        background-color: $color-destacado;
    }

    .nav-link {
        color: $color-destacado;
        transition: transform 0.1s;
    }

    .nav-link:hover {
        color: $color-clasico;
        transform: scale(1.2);
    }

}

@media only screen and (min-width:1024px) {
    nav {
        text-align: center;
    }

    .navbar {
        color: black;
        background-color: black;
    }
    
    .nav-link {
        color: $color-destacado;
        transition: transform 0.1s;
    }


    .nav-link:hover {
        color: $color-clasico;
        transform: scale(1.2);
    }


    .navbar-toggler-icon {
        background-color: $color-destacado;
    }


}