@media only screen and (max-width: 520px) {

    .contactos-empresa {
        text-align: center;
        border: solid 2px black;
        border-radius: 5px;
        background-color: black;
        padding: 3px;


        h4 {
            font-size: 3vw;
            font-weight: $letra-negrita;
            color: $color-destacado;
        }
    }

    /* Mapa */
    .mapa-google {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    iframe {
        width: 100%;
        height: 300px;
        border: none;
    }

    /* Tìtulo y Subtìtulo*/
    .titulo-contacto {
        text-align: center;
        margin-top: 30px;
        font-size: 1, 5rem;
        font-weight: $letra-negrita;
    }

    .subtitulo-contacto {
        text-align: center;
        margin-top: 30px;
        font-size: 0.8rem;
    }

    .contenedor-titulos-contacto {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        margin-top: 30px
    }

    .contenedor-img-intro {
        width: 100%;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .caja-boton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .label-formulario {
        font-size: 0.7rem;
        font-weight: $letra-negrita;
    }

    .input-formulario::placeholder {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 100px
    }

    footer li {
        list-style: none;
    }

    .contenedor-contactos {
        display: flex;
        align-items: center;
        margin-top: 30px;
        flex-direction: column;
        gap: 30px;
    }

    .contacto-telefono,
    .contacto-correo-empresa {
        font-size: 0.8rem;
        font-weight: $letra-negrita;
    }

    footer {
        margin-top: 30px;
    }
}

@media only screen and (min-width:521px) and (max-width:1023px) {

    .contenedor-formulario-mapa {
        display: flex;
        flex-direction: row;
        align-items: center;
        ;
    }

    .imagen-maltaylupulo img {
        max-width: 100%;
        height: auto;
    }

    .titulo-contacto {
        font-weight: $letra-negrita;
        font-size: 2rem;
        margin: 10px 0;
    }

    .subtitulo-contacto {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .seccion-formulario {
        width: 100%;
        max-width: 500px;
    }

    .input-container {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #4caf50;
        color: $color-clasico;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
    }

    button:hover {
        background-color: #45a049;
    }

    .mapa-google {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 100%;
        height: 300px;
        border: none;
    }

    /* Mapa */
    .mapa-google {
        width: 30vw;
        height: 60vw;
    }

    /* Tìtulo y Subtìtulo*/
    .titulo-contacto {
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
    }

    .subtitulo-contacto {
        text-align: center;
        margin-top: 15px;
    }

    .mapa-contacto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .contacto-telefono h4 {
        text-align: center;
    }

    .contactos-empresa {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px black;
        border-radius: 5px;
        background-color: black;
        padding: 3px;

        h4 {
            font-size: 1vw;
            color: $color-destacado
        }
    }
}

@media only screen and (min-width:1024px) {



    .contenedor-formulario-mapa {
        display: flex;
        flex-direction: row;
        align-items: center;
        ;
    }

    .imagen-maltaylupulo img {
        max-width: 100%;
        height: auto;
    }

    .titulo-contacto {
        font-weight: $letra-negrita;
        font-size: 2rem;
        margin: 10px 0;
    }

    .subtitulo-contacto {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .seccion-formulario {
        width: 100%;
        max-width: 500px;
    }

    .input-container {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #4caf50;
        color: $color-clasico;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
    }

    button:hover {
        background-color: #45a049;
    }

    .mapa-google {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 100%;
        height: 300px;
        border: none;
    }

    /* Mapa */
    .mapa-google {
        width: 700px;
        height: 700px;
    }

    /* Tìtulo y Subtìtulo*/
    .titulo-contacto {
        text-align: center;
        margin-top: 50px;
        font-size: 2rem;
    }

    .subtitulo-contacto {
        text-align: center;
        margin-top: 15px;
    }

    .mapa-contacto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .contacto-telefono h4 {
        text-align: center;
    }

    .contactos-empresa {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: solid 2px black;
        border-radius: 5px;
        background-color: black;
        padding: 3px;

        h4 {
            font-size: 1.3rem;
            color: $color-destacado
        }
    }

    .contenedor-img-intro {
        width: 100%;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}