@media only screen and (max-width: 520px) {
    .caja-titulo-intro {
        width: 100vw;
    }

    .titulo-intro {
        font-size: 1.5rem;
        text-align: center;
        font-weight: $letra-negrita;
        padding: 30px;
    }

    .section-inicio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }

    .section-inicio article {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .caja-cerveza {
        display: flex;
        justify-content: column;
        flex-direction: column;
        align-items: center;
        border: solid 2px grey;
        padding: 10px;

        &_parrafo p {
            font-size: 0.7rem;
        }

        .titulos-cervezas {
            font-size: 1rem;
            font-weight: $letra-negrita;
            padding: 5px;
        }

        img {
            width: 40vw;
            padding: 20px;
        }
    }
}

@media only screen and (min-width:521px) and (max-width:1023px) {
    .titulo-intro {
        padding: 50px;
        font-size: 1.8rem;
        text-align: center;
        color: black;
        font-weight: bolder;
    }

    .section-inicio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
    }

    .section-inicio article {
        width: 80%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .caja-cerveza {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 2px grey;
        padding: 30px;
        overflow: hidden;
        transition: transform 0.1s;
        font-size: 0.8rem;
    }

    .titulos-cervezas {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    .caja-cerveza-contenedor {
        display: flex;
        justify-content: column;
        justify-items: center;
        align-items: center;
        width: 90%;
        gap: 10px;
        padding: 10px;
    }

    .caja-cerveza-imagen img {
        width: 130px;
        height: 130px;
    }

    .caja-cerveza:hover {
        transform: scale(1.02);
    }
}

@media only screen and (min-width:1024px) {
    .section-inicio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
    }

    .section-inicio article {
        width: 80%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .titulo-intro {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 2.3rem;
        text-align: center;
        color: black;
        font-weight: bolder;
    }

    .caja-cerveza {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px $color-tarjeta-cerveza;
        border-radius: 5px;
        padding: 30px;
        overflow: hidden;
        transition: transform 0.1s;
        font-size: 1rem;
    }

    .caja-cerveza:hover {
        transform: scale(1.02);
    }

    .caja-cerveza-imagen img {
        width: 250px;
        height: 250px;
    }

    .titulos-cervezas {
        font-size: 2rem;
        font-weight: bolder;
    }

    .caja-cerveza-contenedor {
        display: flex;
        justify-content: column;
        justify-items: center;
        align-items: center;
        width: 70%;
        gap: 60px;
    }
}